<!doctype html>
<html ng-app>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="C:/workspace/Simple-ToDo/static/js/todo.js"></script>

	<link rel="stylesheet" href="C:/workspace/Simple-ToDo/static/css/bootstrap.css">
	<link rel="stylesheet" href="C:/workspace/Simple-ToDo/static/css/todo.css">

	<title>Simple ToDo</title>
</head>
<body>
<div ng-controller="TodoCtrl">
	<h2>Simple To-Do!</h2>
	<h5>Total todos: {{ getTotalTodos() }}</h5>
	<ul class="unstyled">
		<li ng-repeat="todo in todos">
			<input type="checkbox" ng-model="todo.done">
			<span class="done-{{todo.done}}">{{ todo.text }}</span>
		</li>
	</ul>
	<form class="form-horizontal">
		<input type="text" ng-model="formTodoText" ng-model-instant>
		<button class="btn" ng-click="addTodo()"><!-- <i class="icon-plus"></i> -->Add</button>
	</form>

	<button class="btn-large" ng-click="clearCompleted()"><!-- <i class="icon-trash"></i>  -->Clear Completed</button>
</div>

</body>
</html>

